/* body{
    overflow: hidden;
} */

#wrapper {
  margin-top: 70px;
}
#header {
  overflow: hidden;
}
#logo {
  float: left;
  font-size: 2.3rem;
  margin-left: 15vh;
}
#navbar li {
  float: right;
  list-style: none;
  padding: 0px 25px;
}
#navbar li a {
  font-size: 18px;
}


#cont1 {
  margin-left: 5vh;
  background-color: rgb(238, 238, 238);
  padding-bottom: 5vh;
  padding-top: 3vh;
}

#cont1 .para{
  font-size: 15px;
  display: block;
  width: 10%;
  margin-left: 50px;
}

#cont1 .heading {
  margin-left: 47px;
    font-size: 30px;
}

#cont1 button {
  font-size: 16px;
  margin-left: 5vh;
}

@media only screen and (max-width: 800px){
  #cont1 .para{
    font-size: 10px;
    width: 50%;
  }
}

#cont2 {
  overflow: hidden;
  margin-top: 30px;
  margin-left: 50px;
  display: block;
}

#cont2-1 {
  width: 20%;
  float: left;
  margin-left: 20vh;
  text-align: center;
  font-size: 18px;
}
#cont2-2 {
  width: 20%;
  float: left;
  margin-left: 15vh;
  text-align: center;
  font-size: 18px;
}
#cont2-3 {
  width: 20%;
  float: left;
  margin-left: 16vh;
  text-align: center;
  font-size: 18px;
}
#cont2-1box {
  padding-bottom: 20vh;
  background-color: darkgray;
}
#cont2-2box {
  padding-bottom: 20vh;
  background-color: darkgray;
}
#cont2-3box {
  padding-bottom: 20vh;
  background-color: darkgray;
}


@media only screen and (max-width: 500px) {
  #cont2-1 {
    width: 70%;
    margin-left: 2vh;
  }

  #cont2-2 {
    width: 70%;
    margin-left: 2vh;
  }
  #cont2-3 {
    width: 70%;
    margin-left: 2vh;
  }
  #cont3 {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 800px){
  #cont2-1 {
    width: 70%;
    margin-left: 9vh;
  }

  #cont2-2 {
    width: 70%;
    margin-left: 9vh;
  }
  #cont2-3 {
    width: 70%;
    margin-left: 9vh;
  }
}

#cont3 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  margin-left: 13vh;
  background-color: rgb(238, 238, 238);
}
#cont3 p {
  display: block;
  font-size: 40px;
}
#input-box {
  padding: 10px 200px 10px 10px;
  margin-left: 20px;
}
#cont3 button {
  padding: 10px 200px 10px 10px;
  background-color: rgb(40, 138, 207);
  color: white;
  font-size: 16px;
  margin-left: 20px;
}

@media only screen and (max-width: 800px){
  #cont3{
    width: 90%;
    margin-left: 5vh;
  }
  #cont3 p {
    font-size: 30px;
  }
  #input-box {
    padding: 10px 40px 10px 10px;
    margin-left: 10px;
  }
  #cont3 button {
    padding: 10px 20px 10px 10px;
    font-size: 16px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 500px){
  #cont3{
    width: 90%;
    margin-left: 40px;
  }
  #cont3 p{
    font-size: 20px;

  }
  #input-box {
    padding: 10px 40px 10px 10px;
    margin-left: 10px;
  }
  #cont3 button {
    padding: 10px 30px 10px 10px;
    font-size: 12px;
    margin-left: 10px;
  }
}
 
#footer {
  overflow: hidden;
}
#left {
  float: left;
  margin-left: 11vh;
}
#right {
  float: right;
  margin-right: 7vh;
}

@media only screen and (max-width: 500px){
  #left{
    margin-left: 4vh;
  }
  #right{
    margin-right: 1vh;
  }
}
